/* Navbar Styles */
#navLink {
  box-shadow: inset 0 0 0 0 #ffffff;
  color: #ffffff;
  padding: 0 .25rem;
  transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
}

#navLink:hover {
  color: rgb(0, 0, 0);
  box-shadow: inset 200px 0 0 0 rgba(32, 32, 32, 0.164);
}

/* Presentational Styles for Navbar */
#navLink {
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

/* Custom Class for Flex Layout */
.custom-justify-around {
  display: flex;
  justify-content: space-around;
  margin: 0 -10px; /* Adjust margin values as needed */
}

/* Styles for #services */
#services {
  font-size: 40px;
  color: #008cff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

/* Styles for Footer */
footer {
  background-color: #f5f5f5; /* Background color for the footer */
  padding: 10px; /* Reduce padding to make it smaller */
}

/* Styles for Buttons */
.button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background: rgba(24, 78, 255, 0.959);
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  width: 90px;
}

.button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 15px 25px rgba(6, 62, 248, 0.4);
}

/* Styles for Footer Buttons */
footer .button {
  padding: 5px 15px; /* Adjust button padding to make it smaller */
  font-size: 14px; /* Reduce font size for buttons */
}

/* Hover Effect for Footer Buttons */
footer .glow-button:hover {
  box-shadow: 0 10px 15px rgba(6, 62, 248, 0.4); /* Adjust the box-shadow for the hover effect */
}

/* Styles for Cards */
.card {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

.card:hover {
  box-shadow: 0 10px 20px rgb(0, 0, 0), 0 4px 8px rgba(0, 0, 0, 0.06);
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  z-index: 1;
}

/* Styles for #infoBoxHeading */
#infoBoxHeading {
  color: #1c8bfa;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #1c8bfa69;
  font-size: 23px;
}

/* Styles for Pulse Icon */
.pulse i {
  color: #fff;
}

.pulse {
  height: 50px;
  width: 50px;
  background-color: #1c8bfa;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.2s;
}

.pulse::before {
  content: "";
  position: absolute;
  border: 1px solid #1c8bfa;
  width: calc(75% + 30px);
  height: calc(75% + 30px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
}

.pulse::after {
  content: "";
  position: absolute;
  border: 1px solid #1c8bfa;
  width: calc(70% + 30px);
  height: calc(70% + 30px);
  border-radius: 50%;
  animation: pulse 1s linear infinite;
  animation-delay: 0.3s;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.3);
    opacity: 0;
  }
}

.pulse:hover {
  transform: scale(1.1);
}

/* Media Queries */
@media (max-width: 991px) {
  .card-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  #infoBox {
    width: 100%;
  }

  .card-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

/* For Large Screens */
@media (min-width: 901px) {
  /* Add specific styles for large screens */
}

/* For Small Screens */
@media (max-width: 576px) {
  .card-group {
    display: block;
  }

  #infoBox {
    width: 100%;
  }

  /* Add specific styles for small screens */
}

/* Navbar Styles */
.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* Full-Screen Carousel Styles */
#myCarousel .carousel-inner .carousel-item {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#myCarousel .carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  inset: 0;
}

.full-screen-carousel {
  position: relative;
}

.hero .info {
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* Hero Title Styles */
.HeroTitle {
  font-family: "Arial Black", sans-serif;
  font-size: 2.5em;
  color: white;
}

/* Hero Footer Styles */
.HeroFooter {
  font-family: sans-serif;
  font-size: 1.3em;
  color: rgb(255, 255, 255);
}

/* Hero Title Tag Styles */
.hero .info .HeroTitleTag h1 {
  color: #ffffff;
  margin-bottom: 30px;
  padding-bottom: 30px;
  font-size: 56px;
  font-weight: 700;
  position: relative;
}

.hero .info .HeroTitleTag h1::after {
  content: "";
  position: absolute;
  display: block;
  width: 80px;
  height: 4px;
  background-color: #1c8bfa;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}


@media (max-width: 576px) {
  .hero .info .HeroTitleTag h1 {
    font-size: 30px; /* Decrease font size for small screens */
  }

  .hero .info .custom-button{
    width:40%;
  }
  
  
  #QuoteCarousel .carousel-inner {
    max-height: 50vh;
  }
  #QuoteCarousel .carousel-inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .quoteForm {
    background-color: white;
    padding: 20px;
    font-family: 'Roboto';
    font-size: 17px;
    margin: 0 auto;
    max-width: 400px;
  }
}

/* Hero Info Paragraph Styles */
.hero .info p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

/* Hero Button Styles */
.hero .info .button {
  border-radius: 10px;
}

/* Custom Button Styles */
.custom-button {
  border-radius: 25px;
  padding: 10px 20px;
  width: 20%;
}

/* Get Started Section Styles */
.get-started {
  padding: 40px;
  margin-top: 10px;
  background-size: cover;
  background-position: right;  
  background-image: url(../WebsiteImages/FormBackground.jpg);
}


/* Quote Form Styles */
.quoteForm {
  background-color: white;
  padding: 20px;
  font-family: 'Roboto';
  font-size: 17px;
}

.get-started .content h3 {
  margin-bottom: 8%;
}

/* Styles for QuoteCarousel */
#QuoteCarousel .QuoteCarousel-inner {
  display: flex;
  height: 30vh;
  align-items: center;
  text-align: center;
}

#QuoteCarousel .carousel-item blockquote {
  width: 70%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.212);
  margin: auto;
  padding: 1%;
}

#QuoteCarousel .carousel-item blockquote:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

#QuoteCarousel .carousel-inner .carousel-item {
  transition: opacity 1s;
}

/* Additional Styles for Specific Elements */
#servicesContent {
  font-size: 17px;
  color: white;
}

